@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

button {
    border: 2px solid white;
}

button:active {
    transform: scale(0.9);
}

.leftside {
    transition: width 0.5s ease;
}

.colorside {
    transition: all 0.5s ease;
}